APP_NAME="Mini RAG App"
APP_VERSION="0.1s"
LLM_API_KEY=""

FILE_ALLOWED_TYPES= ["application/pdf", "text/plain"]
FILE_MAX_SIZE = 10  # 10 MB
FILE_DEFAULT_CHUNK_SIZE = 512000 #0.5 MB  

MONGO_URL = "mongodb://localhost:27007"
MONGODB_DATABASE = "mini-rag"

# ==================== LLM Config ====================
GENERATION_BACKEND = "QWEN"
EMBEDDING_BACKEND = "COHERE"

QWEN_API_KEY=""
QWEN_API_URL="https://dashscope-intl.aliyuncs.com/compatible-mode/v1"

COHERE_API_KEY=""

GENERATION_MODEL_ID= "qwen3:4b"
EMBEDDING_MODEL_ID= "embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE= 384 

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1

# ==================== Vector DB Config ====================
VECTOR_DB_BACKEND =  "QDRANT"
VECTOR_DB_PATH = "qdrant_db"
VECTOR_DB_DISTANCE_MITHOD = "cosine"

