APP_NAME="Mini RAG App"
APP_VERSION="0.1s"
LLM_API_KEY=""

FILE_ALLOWED_TYPES= ["application/pdf", "text/plain"]
FILE_MAX_SIZE = 10  # 10 MB
FILE_DEFAULT_CHUNK_SIZE = 512000 #0.5 MB  

MONGO_URL = "mongodb://localhost:27007"
MONGODB_DATABASE = "mini-rag"

